:root,
html[data-theme="light"] {
  --primary-bg: #c3ccdf;
  --primary-txt: #1a1a1a;

  --btn-color: #335391;
  --btn-hover-text: #cccccc;

  --code-color: #335391;
  --heading-color: #335391;
}

html[data-theme="dark"] {
  --primary-bg: #020714;
  --primary-txt: #cccccc;

  --btn-color: #567FE1;
  --btn-hover-text: #1a1a1a;

  --code-color: #567FE1;
  --heading-color: #567FE1;
}
