@import "./colors.css";

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.body {
  height: 100vh;
  padding: 20px;
  display: flex;
}

.btn {
  background-color: transparent;
  color: var(--btn-color);
  border-color: var(--btn-color);
  letter-spacing: 2px;
}

.btn:hover,
.btn.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
  border-color: transparent;
}

.dropdown-menu,
.dropdown-item {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.dropdown-item {
  letter-spacing: 2px;
}

.dropdown-item:hover {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.between {
  display: flex;
  justify-content: space-between;
}

.form-control,
.form-control:focus {
  background-color: var(--secondary-bg);
  color: var(--primary-txt);
  border: 0;
}

::placeholder {
  color: var(--primary-txt) !important;
  opacity: 50% !important;
  letter-spacing: 2px !important;
}

.w-20 {
  padding-right: 20px;
  width: 20%;
}

.w-80 {
  padding: 0px 20px;
  width: 80%;
}

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.purple {
  color: var(--purple);
}

.btn.red {
  border-color: var(--red);
  color: var(--red);
}

.btn.red:hover,
.btn.red.active {
  background-color: var(--red);
  color: var(--btn-hover-txt);
}

.btn.orange {
  border-color: var(--orange);
  color: var(--orange);
}

.btn.orange:hover,
.btn.orange.active {
  background-color: var(--orange);
  color: var(--btn-hover-txt);
}

.btn.green {
  border-color: var(--green);
  color: var(--green);
}

.btn.green:hover,
.btn.green.active {
  background-color: var(--green);
  color: var(--btn-hover-txt);
}

.btn.blue {
  border-color: var(--blue);
  color: var(--blue);
}

.btn.blue:hover,
.btn.blue.active {
  background-color: var(--blue);
  color: var(--btn-hover-txt);
}

.btn.purple {
  border-color: var(--purple);
  color: var(--purple);
}

.btn.purple:hover,
.btn.purple.active {
  background-color: var(--purple);
  color: var(--btn-hover-txt);
}

.timestamp {
  font-size: small;
  opacity: 50%;
}

.note-item {
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 5px;
  margin-bottom: 1px;
}

.note-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.left {
  border-right: 1px dotted var(--btn-color);
  padding-right: 20px;
}

.right {
  padding-left: 20px;
}

.h-custom {
  height: 83vh;
}

.h-custom-2 {
  height: 90%;
}

.name {
  font-style: italic;
  letter-spacing: 1px;
}

.toolbar {
  flex-wrap: wrap;
}

.toolbar > .btn {
  flex-grow: 0;
}

.m-half {
  margin: 2px;
}

::-webkit-scrollbar {
  background-color: var(--primary-bg);
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
}

.badge {
  font-weight: normal;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  letter-spacing: 1px;
}

.active .badge {
  border-color: var(--btn-hover-txt);
  color: var(--btn-hover-txt);
}
